lib_managed/
scala/out/
scala/project/boot/
scala/project/build/target/
scala/target/
scala/.idea/uiDesigner.xml
scala/.idea/ant.xml
scala/.idea/copyright/profiles_settings.xml
scala/src/main/compilers/L1/1-test/*.S
scala/src/main/compilers/L1/1-test/*.res
scala/src/main/compilers/interpreters/1-test/
.idea/workspace.xml
a.out
runtime.o
Test.*
test2.*
tmp
build
*.o
*.hi
*.swp
*~
*.exe
*#
.*.swo
.swp
.DS_Store
.idea
TAGS
_darcs
reference
dist
docs
tags
wiki
wip
.cabal-sandbox
