lib_managed/
out/
project/boot/
project/build/target/
target/
.idea/uiDesigner.xml
.idea/ant.xml
.idea/copyright/profiles_settings.xml
src/main/compilers/L1/1-test/*.S
src/main/compilers/L1/1-test/*.o
src/main/compilers/L1/1-test/*.res
.idea/workspace.xml
a.out
runtime.o
test.*
Test.*
test2.*
tmp
build
spill-test
